body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: beige;
    width: 700px;
    margin: 0 auto;
}

@media screen and (max-width: 699px) {
    body {
        width: 90%;
        padding: 20px 0;
    }
}

h1,
h2,
h3 {
    margin: 10px auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

@media screen and (max-width: 565px) {
    h1 {
        font-size: 1.25em;
    }
}

hr {
    width: 90%;
}

footer {
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 699px) {
    hr {
        width: 100%;
    }

    footer {
        width: 100%;
    }
}

section {
    margin: 10px auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 90%;
}

.inputfield {
    display: flex;
    justify-content: space-evenly;
}

.input {
    margin: 10px;
    width: 100px;
}

.input>input {
    font-size: 1.3em;
    width: 92px;
}

#outputfield span {
    font-weight: bolder;
}

#turn {
    margin: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #ddd;
    border-radius: 50%;
    display: table;
    font-size: 1.5em;
    cursor: pointer;
    transition-duration: .2s;
}

#turn:hover {
    background-color: #333;
    color: white;
    transition-duration: .2s;
}

#turn span {
    font-family: 'Noto Sans JP', sans-serif;
    vertical-align: middle;
    display: table-cell;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}